<!DOCTYPE html>
<html>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <div ng-app="myApp" ng-controller="myCtrl">
        <p ng-bind="firstname"></p>
        {{lastname}}
        {{firstname}}
        <h1 ng-click="changeName()">abc</h1>
        <input ng-model="firstname"/> 
    </div>

   

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstname = "Đầu";
            $scope.lastname = "Cuối";
            $scope.changeName = function () {
                $scope.firstname = "Đổi Đầu";
                $scope.lastname = "Đổi Cuối";
            }
        });
    </script>
    <p>Use the ng-bind directive to bind the innerHTML of an element to a property in the data model.</p>

</body>
</html>
